.card {

    background-color: transparent;
    padding: 2rem;
    border-radius: 25px;
    position: relative;
    border: 2px solid white
}


/* Desktops */
@media (min-width: 1025px) {
    .card{
        height: 70%;
        width: 65%;
    }
    
}
@media (max-width: 1024px){
    .card{
        height: 70%;
        width: 85%;
    }
}
