.box{ 
    background: transparent;
}

.question, .answers, .score, .question_number {
    font-family: 'Oxygen', sans-serif;
    color: white

}

.question {
    text-align: center;
    margin: 2rem 0;

}

.answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer {
    padding: 10px;
    background-color: white;
    color: rgba(178,112,146,255) ;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin: 1rem 0;
    width: 50%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1rem;
    border-radius: 10px;

}

.answer:hover {
    background-color: rgba(178,112,146,255) ;
    color: white;
    border: 1px white solid;
}

.score, .question_number {
    font-weight: bold;
    position: absolute;
    bottom: 1rem;
}

.score {
    left: 2rem
}

.question_number {
    right: 2rem;
}

@media (max-width: 1024px){
    .question {
        font-size: 20px;
    }
    .answer {
        padding: 1px;
        height: 40px;
        font-size: 85%
    }

}